.pdf-container {
    height: 600px;
    border: 1px solid #e8e8e8;
  }
  
  .comment-section {
    margin-top: 20px;
  }
  
  .text-space {
    border-bottom: 2px solid;
    padding-bottom: 4px;
    max-width: 103px;
  }

  .dash-border {
    border-top: 3px solid;
    border-style: dashed;
    border-bottom: 2px solid;
  }

  .single-dash-border {
    border-bottom: 3px solid;
    border-style: dashed;
    border-top: 2px solid;
    width: 100%;
  }